.leftsidebar {
  position: absolute;
  background-color: white;
  top: 104px;
  bottom: 0px;
  height: fit-content;
  min-height: 100vh;
  z-index: 9999;
  border-top: 1px solid #eee;
}
.customHr {
  height: 1px;
  border: none white;
  background-color: rgb(213, 213, 213);
  width: 100%;
}
.box {
  height: 1px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
}
